<span class="vclGridSpan-gcb" role="gridcell">{{key}}</span>
<span class="vclGridSpan-gca" role="gridcell">{{value}}</span>
<span class="vclGridSpan-gca" role="gridcell">This is a custom template.</span>
