<h2 class="vclFloatLeft">{{header}}</h2>
<span>This is a custom header.</span>
<div class="vclLooseButtonGroup vclFloatRight">
  <button class="vclButton" type="button"><span><i class="fa fa-plus"></i> Add</span></button>
</div>
