<span>This is a custom footer.</span>
<div class="vclLooseButtonGroup vclFloatRight">
  <button class="vclButton" type="button"><span>Cancel</span></button>
  <button class="vclButton" type="button"><span>Save</span></button>
</div>
