<div class="vclApp">
  <h2>TODO</h2>

  <ul>
    {{#each items as |item|}}
      {{todo-item data=item}}
    {{/each}}
  </ul>

  <form class="vclForm">
    <label class="vclFormControlLabel" for="vInputEx1">
      New item<em class="vclRequiredIndicator">•</em>
    </label>
    {{input value=value id="vInputEx1" class="vclInput" type="text" placeholder="Enter item"}}
    <button {{action 'add'}} type="button" class="vclButton">
      <span>Add</span>
    </button>
  </form>

</div>